@charset "UTF-8";

.drag_line {
  stroke: #999;
}
.link.selected {
  stroke: #999;
}
.nodecircle {
  stroke-width: 10px;
  /*stroke : #CCC;*/
}
.nodecircle.selected {
  stroke-width: 20px;
  /*stroke : gray;*/
}
.circle_index {
  pointer-events: none;
  stroke-width: 2px;
  cursor: pointer;
}
.circle_index_selected {
  stroke: #999;
  fill: #999;
}
.edit_node_text_index {
  font-size: 12px;
  text-anchor: middle;
  pointer-events: none;
  font-family: "Helvetica Neue, Helvetica, Arial, sans-serif;";
}
.text_index_selected {
  stroke: #EEE;
  fill: #EEE;
}
.circle_type {
  pointer-events: none;
  cursor: pointer;
  stroke-opacity: .5;
  fill: transparent;
  stroke: #DDD;
  stroke-width: 3px;
}
.fo_type_image {
  text-align: center;
}
.circle_type_selected {
  stroke: #999;
}
.fo_xhtml_content_closed_node_label{
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-content:center;
  align-items:center;
}
.label_closed_node {
  padding: 2px;
  text-align: center;
}
.fo_div_image {
  text-align: center;
}
.fo_xhtml_content_edited_node_label {
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-content:center;
  align-items:center;
}
.fo_xhtml_content_open_node_label {
  padding: 2px;
  text-align: center;
  font-weight: bold;
}
.fo_xhtml_content_open_node {
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-content:center;
  align-items:center;
}

.force {
  background-color:#eee;
  border-radius: 10px;
  padding: 1px;
  margin: 1px;
  text-align: center;
}
input[type="checkbox"] { transform: scale(1.2, 1.2); }
input[type="range"] { margin: 0 5% 0.5em 5%; width: 90%; }

.alpha p { background-color:#1678c2;margin-bottom: .25em;color:white; border-radius: 10px; }
.alpha .alpha_bar { height: .5em; border: 1px #777 solid; border-radius: 2px; padding: 1px; display: flex; }
.alpha .alpha_bar #alpha_value { background-color: #555; border-radius: 1px; flex-basis: 100% }
.alpha .alpha_bar:hover { border-width: 2px; margin:-1px; }
.alpha .alpha_bar:active #alpha_value { background-color: #222 }

.description {
  font-size: 20px;
  text-align: center;
}
.flod_panel_content_label {
  padding: 5px;
  font-weight: bold;
  font-size: 18px;
}
.flod_panel_content_comment {
  padding: 5px;
  font-size: 16px;
}
.flod_panel_content_description {
  padding: 5px;
  font-size: 14px;
}
